name: CI
on:
  pull_request:
  push:
    branches:
    - 'master'
    - 'release/*'
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      # https://github.com/actions/checkout/releases/tag/VERSION
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install Go
      # https://github.com/actions/setup-go/releases/tag/VERSION
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: 'go.mod'
    - run: go test -v -race -cover ./...
